.lives-transition-art {
    --left-offset: 20px;
}

.lives-transition-art [id*="intact-life"] {
    --up: 10px;
    --rot: 1.1deg;
}

#intactLifeDiv0 {
    --left-offset: 150px;
}

#intact-life0 {
    --up: -5px;
    --rot: -1deg;
}

#intactLifeDiv1 {
    --left-offset: 300px;
}

#intact-life1 {
    --up: -1px;
    --rot: 0.5deg;
}

@keyframes livesEnter {
    from {
        transform: translate(var(--left-offset), 0);
        --ANIM-life-float: livesFloat 1s .lives-transition-art[id*="intact-life"];
        --ANIM-life-float-animation-iteration-count: infinite;
        --ANIM-life-float-animation-direction: reverse;
        --ANIM-life-float-animation-timing-function: cubic-bezier(.47,0,.74,.71);
    }
    to {
        transform: translate(var(--left-offset), 150px);
    }
}

@keyframes livesFloat {
    from {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(0, calc(-1 * var(--up))) rotate(calc(3 * var(--rot)));
    }
    to {
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes livesExit {
    from {
        transform: translate(var(--left-offset), 150px);
    }
    to {
        transform: translate(var(--left-offset), 0);
    }
}

/*Called by Javascript for the lives that will be shown as lost on-screen:*/
@keyframes CCSSGLOBALloseLife {
    0% {
        --time: 0s;
        /*Reset lost lives (reset positions to zero):*/
        --ANIM-reset-lost-lives: hideElement 0s .lost-lives-transition-art;
        /* We want to set some arbitrary delay for the animation of the lives losing to hit right.*/
    }
    10% {
        --time: 0.65s;
        --ANIM-left-break: leftBreak 0.8s .lost-lives-transition-art#left-heart;
        --ANIM-right-break: rightBreak 0.5s .lost-lives-transition-art#right-heart;
        --ANIM-right-break-animation-timing-function: ease-in;
    }
}

.lost-lives-transition-art#left-heart {
    --height-func: 1000px * (0.8 * var(--anim-time) * var(--anim-time) - 0.2 * var(--anim-time));
    --bounce-func: 430px + 1000px * (0.93 * (var(--anim-time) * var(--anim-time)) - 0.8 * (var(--anim-time)));
}

@keyframes leftBreak {
    from {
        transform: translate(0, calc(var(--height-func)));
    }
    to {
        transform: translate(-100px, calc(var(--height-func))) rotate(-80deg);
        --ANIM-hide-self: hideLostLives 0s .lost-lives-transition-art#left-heart;
    }
}

@keyframes leftBreak-bounce {
    from {
        transform: translate(-100px, calc(var(--bounce-func))) rotate(-45deg);
    }
    to {
        transform: translate(-200px, calc(var(--bounce-func))) rotate(-80deg);
    }
}

@keyframes rightBreak {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(100px, 550px) rotate(45deg);
        --ANIM-hide-self: hideLostLives 0s .lost-lives-transition-art#right-heart;
    }
}

.lost-lives-transition-art#right-heart {
    --bounce-func: 450px + 800px * (1 * (var(--anim-time) * var(--anim-time)) - 0.8 * (var(--anim-time)));
}

@keyframes rightBreak-rotate {
    from {
        transform: translate(100px, calc(var(--bounce-func))) rotate(45deg);
    }
    to {
        transform: translate(200px, calc(var(--bounce-func))) rotate(360deg);
    }
}

@keyframes hideLostLives {
    from {
        transform: translate(1000px, 1000px);
    }
    to {
        transform: translate(1000px, 1000px);
    }
}