@keyframes livesEnter {
    from {
        transform: translate(var(--left-offset), 0);
    }
    to {
        transform: translate(var(--left-offset), -200px);
    }
}

#intact-life0 {
    --left-offset: 50px;
}

#intact-life1 {
    --left-offset: 100px;
}