@keyframes CCSSGLOBALmainToCredits {
    0% {
        --time: 0s;
        --ANIM-bye-gda-chan: gdaChanMenuExit 0.8s .menu-art#gda-chan;
        --ANIM-remove-menu-buttons: removeMenuButtons 0.6s .menu-art[id*="Button"];
    }
}

@keyframes gdaChanMenuExit {
    20% {
        transform: translate(0, -50px) scale(1.05);
    }
    to {
        transform: translate(0, 500px) scale(0.5, 1);
    }
}

.menu-art#playButton{
    --rotateDir: -1;
}

.menu-art#creditsButton {
    --rotateDir: 1;
}

@keyframes removeMenuButtons {
    to {
        transform: translate(0, 350px) rotate(calc(30deg * var(--rotateDir)));
    }
}

@keyframes identifier {
    
}

@keyframes CCSSGLOBALcreditsToMain {
    
}