
#options {
    font-family: "Open Sans";
    color: black;
    height: 100%;
}

#options-select-games {
    background-color: white;
    width: 650px;
    height: 472px; 
    position: absolute;
    left: 290px;
    top: 540px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#options-select-games ::selection  {
    background-color: greenyellow;
    color: black;
}
#options-select-games > .active.hover > .game-select, #options-select-games > .active > .game-select:hover {
    background-color: #ffff00;
}

#options-select-games > .hover > .game-select, #options-select-games .game-select:hover {
    background-color: #ffff77b5;
    padding-left: 2px;
}

#options-select-games .active > .game-select {
    background-color: #ffff00b5;
}

#options-select-games .game-select {
    border: 1px solid blue;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    transition: 0.5s;
}

#options-select-games .game-select:nth-child(2) {
    border-top: 1px solid blue;
}

#options-select-games .game-select > label {
    border: 1px red;
    border-left-style: solid;
    height: 100%;
    width: 80%;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 10px;
    margin-left: 2px;
}

#options-select-games .game-select > input[type=checkbox] {
    margin-left: 10px;
    margin-right: 10px;
}

#options-select-games-all {
    border-bottom: none !important;
}

#options-select-games-all label {
    padding-top: 22px !important;
    padding-bottom: 22px !important;
    margin-left: 1px !important;
}

#options-select-games-all .game-select {
    padding-left: 35px;
}

#options-select-games-all .game-select.hover, #options-select-games-all .game-select:hover {
    padding-left: 37px;
}

#options input, #options label {
    cursor: pointer;
    accent-color: black;
}

.game-enable {
    cursor: pointer;
}

#options-select-games .game-options {
    height: 0px;
    overflow-y: hidden;
    transition: 1s;
}

#options-select-games .active .game-options {
    height: 200px;
}

.game-options {
    margin-left: 33px;
}

.game-options .game-enable {
    float: left;
}

.remap-options {
    text-align: center;
}

.remap-options p{
    margin: 0;
}

.remap-options > div{
    display: block;
    float: right;
    margin-bottom: 0.5em;
    margin-right: 10px;
}

.remap-options button {
    width: 125px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    display: block;
    position: relative;
}
.remap-options button .remap-button-background {
    mask-image: url("./art/marker.png");
    mask-size: 100%;
    width: 125px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.4s;
}

.remap-options button .remap-button-text {
    position: inherit;
    z-index: 2;
    width: 125px;
}

.remap-options p {
    width: 125px;
    height: 30px;
}

.remap-options .bind-button, .remap-options .clear-button {
    border: 0.1px solid black;
}

.remap-options button:hover > .remap-button-background, .remap-options button.hover > .remap-button-background {
    filter: brightness(0.8);
}

.remap-options .clear-button {
    border-top: none;
}
.remap-options .bind-button {
    border-bottom: none;
}

.game-options .game-enable.hover {
    background-color: black;
}

.remap-Up {
    margin-left: 227px;
    margin-right: 144px !important;
}

.remap-Up .bind-button .remap-button-background {
    background-color: #ABDEE6;
}
.remap-Up .clear-button .remap-button-background {
    background-color: #55CBCD;
}

.remap-Right .bind-button .remap-button-background {
    background-color: #ECD5E3;
}

.remap-Right .clear-button .remap-button-background {
    background-color: #CBAACB;
}

.remap-Down .bind-button .remap-button-background {
    background-color: #ffffc5;
}

.remap-Down .clear-button .remap-button-background {
    background-color: #eaea8c;
}

.remap-Left .bind-button .remap-button-background {
    background-color: #FFDACA;
}

.remap-Left .clear-button .remap-button-background {
    background-color: #E1AB86;
}

.remap-Space {
    width: 170px;
    margin-right: 18px !important;
}

.remap-Space .bind-button .remap-button-background {
    background-color: #d9ecd5;
}

.remap-Space .clear-button .remap-button-background {
    background-color: #95C88E;
}

.remap-Space button, .remap-Space p, .remap-Space .remap-button-background, .remap-Space .remap-button-text {
    width: 165px !important;
}

.googly-eye {
    background: white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: relative;
    pointer-events: none;
    overflow: hidden;
    transition: 0.5s;
    transition-property: width, height, background, transform;
}

.googly-eye-center {
    background: black;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    left: 15%;
    top: 15%;
    position: relative;
    transition: 0.25s;
}

#options-volume:hover~#options-volume-eye, #options-volume.hover~#options-volume-eye {
    width: 30px;
    height: 30px;
    background: #cbcbcb;
    transform: translate(-5px, -5px);
}

#options-volume:hover~#options-volume-eye .googly-eye-center, #options-volume.hover~#options-volume-eye .googly-eye-center {
    width: 20px;
    height: 20px;
}