:root {
    --width: 960px;
    --height: 540px;
}

body {
    margin: auto;
    height: var(--height);
    width: var(--width);
    overflow: hidden;
    margin-top: calc(50vh - var(--height)/2);
    background-color: black;
}
canvas {
    z-index: 1;
}

iframe {
    z-index: 0;
}

#menu {
    z-index: 2;
    overflow: hidden;
    background-color: white;
}

#menu, #transitionContainer{
    position: absolute;
    width: var(--width);
    height: var(--height);
    border: none;
}

/*Disable image highlighting:*/
img {
    user-select: none;
}

/* Display transition on top of everything: */
#transitionContainer {
    z-index: 5;
}

iframe, #gameContainer {
    position: absolute;
    width: var(--width);
    height: var(--height);
    border: none;
    overflow: hidden;
}

/* Regex stuff:*/
[id*="Button"] {
    cursor: pointer;
}