body {
    margin: 0;
    height: 540px;
    width: 960px;
    overflow: hidden;
}
canvas {
    z-index: 1;
}

iframe {
    z-index: 0;
}

#menu {
    z-index: 2;
    overflow: hidden;
    background-color: white;
}

#menu, #transitionContainer{
    position: absolute;
    width: 960px;
    height: 540px;
    border: none;
}

/*Disable image highlighting:*/
img {
    user-select: none;
}

/* Display transition on top of everything: */
#transitionContainer {
    z-index: 5;
}

iframe, #gameContainer {
    position: absolute;
    width: 960px;
    height: 540px;
    border: none;
    overflow: hidden;
}

/* Regex stuff:*/
[id*="Button"] {
    cursor: pointer;
}